@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

:root {
    --background-color:#ffffff;
    --basic-dark-color: #2f252b;
    --basic-light-color: #e1d8d5;
    --accent-color: #C6436E;

    --basic-spacing: 1rem;
    --small-spacing: 0.5rem;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--background-color);
    color: var(--basic-dark-color);
    font-family: 'Hind', sans-serif;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

p {
    text-align: justify;
}

ul {
    list-style-type: none;
}

#footer {
    position: fixed;
    bottom: 0;
    background-color: var(--basic-dark-color);
    width: 100%;
    color: var(--basic-light-color);
}

.box {
    display: flex;
    margin-block: var(--basic-spacing);
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: var(--background-color);
    border: 2px solid var(--basic-dark-color);
}

.title {
    background-color: var(--basic-dark-color);
    color: var(--background-color);
}

.padding-basic {
    padding: var(--basic-spacing);
}
.padding-small {
    padding: var(--small-spacing);
}

.accent-background {
    background-color: var(--basic-light-color);
}

.image-set {
    box-shadow: 2px 2px 5px 0 var(--basic-dark-color);
}
